{% extends "themes/info_pages/base.html" %}

{% block title %}Informação{% endblock %}
{% block content %}
<div class="ban">
    <h2>Contactos</h2>
    <div class="padded">
        A administração pode ser contactada acerca de qualquer assunto através do endereço <a href="mailto:admin@ptchan.net">admin@ptchan.net</a>.<br>
        Reservamos o direito de partilhar publicamente qualquer mensagem que seja enviada para este endereço, mesmo que contenha um aviso de confidencialidade.<br><br>
        Uma chave PGP está disponível em <a href="/pgp.txt">https://ptchan.net/pgp.txt</a>.
    </div>
</div>
{% endblock %}
