body {
    background: #FFFEED;
    color: #000000;
    font-family: sans-serif;
    font-size: 13px;
}

div.title h1 {
    font-size: 24px;
}

div.title p {
    font-size: 10px;
}

div.pages {
    font-size: 13px !important;
}

a:link, a:visited, .intro a.email span.name {
    color: #888888;
    font-size: inherit;
    text-decoration: inherit;
}

a:link:hover {
    color: #000000;
    text-decoration: inherit;
}

span.omitted {
    color: gray;
}

a.post_no {
    color: #000000;
}

div.post.reply {
    background: #e8e29f;

    border-style: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.post.reply.highlighted {
    background: #F3DBA7;
    color: #707070;
    border: 2px dashed #707070;
}

.intro span.subject {
    color: #d00;
}

form table tr th,
div.banner,
table.modlog tr th {
    background: #CDC8A3;
    color: #455736;
}

h1, h2, h3, h4, h5 {
    color: #455736;
}

div.ban h2 {
    background: #c;
    color: #455736;
}

div.ban {
    border-style: none;
}

div.ban p {
    color: #000000;
}

div.pages {
    background-color: #CDC8A3;
    color: #000000;

    padding: 7px 5px;
    font-size: 12pt;
    border-style: none;
}

div.pages a {
    color: #455736;
}

div.pages a.selected {
    color: #000000;
}

hr {
    border-width: 1px;
    border-style: solid none none none;
    border-color: #000000;
}

div.boardlist {
    color: #CDC8A3;
}

div.boardlist a {
    color: #455736;
}

.desktop-style div.boardlist:nth-child(1), .desktop-style div.boardlist:nth-child(1):hover {
    background-color: #e8e29f;
}

div.boardlist .sub {
    background: none;
}

.desktop-style div.boardlist:nth-child(1) {
    text-shadow: #fff 1px 1px 1px, #fff -1px -1px 1px;
}


/* options.js */

#options_div, #alert_div {
    background: #e8e29f;
}

.options_tab_icon {
    border: 1px solid transparent;
    border-width: 0px 1px 1px 0px;
}

.options_tab_icon:hover {
    border-color: #455736;
    border-width: 0px 1px 1px 0px;
}

.options_tab_icon.active {
    border-color: #455736;
    border-width: 1px 0px 0px 1px;
}

.dropzone {
    background-color: white;
    border: 1px solid #a9a9a9;
}
